/* Iphone */

@media (max-width: 900px){

    html {
        margin: 0px;
        border: 0px;
        padding: 0px;
        width: 100%;
    }
    
    .cuerpo {
        margin: 0px;
        border: 0px;
        padding: 0px;
        width: 100%;
    }
    
        .intro{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background-color: white;
            height: 594px;
            width: 100%;
        }
        
        .intro-cabecera{
            display: flex;
            justify-content: space-between;
            /* height: 80px; */
            height: 20%;
        }
        
        .logo-personal {
            align-self: flex-start;
            height: 54px;
            width: 50px;
        }

        .intro-menu{
            display:none
        }

        .rayitasmenu{
            display: flex;
            flex-direction: column;
            justify-content:center;
            align-items: center;
            align-content: center;
            width: 50px;
            height: 54px;
            
        }

        .rayita{
            width: 36px;
            height: 6px;
            background: #141414;
            margin: 3.5px;
            margin-right: 20px;
            
        }

        .intro-cuerpo{
            display: flex;
            height: 80%;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            align-content: center;

        }

        .intro-bienvenidos{
            display: flex;
            height: 20%;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            align-content: center;
            font-size: 48px;
            font-family: 'Open Sans', sans-serif
        }

        .intro-facha {
            display: flex;
            flex-direction: column-reverse;
            align-self: center;
            height: 80%;
        }
        .intro-facha-image {
            height: 100%;
        }


    .soy-marce{
        background-color: black;
        width: 100%;
        height: 538px;
        color: white;
        font-family: Open Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 44px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        align-content: center;
    }

    .titulo-soy-marce{
        
        font-family: Open Sans;
        -style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 44px;
        text-align: center;
        letter-spacing: -2px;
        color: #FAFAFA;
    }



    .algo-interesante {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;  
        color: #FAFAFA;
        margin: 32px;
    }

    .logo-tilde {
        display: flex;
        width: 80px;
        height: 80px;
        color: #FFD953;
        background-color: #4CAF50;
        align-items: center;
        justify-content: center;
        border: yellow 5px solid;
        border-radius: 10px;
    }

    .mis-servicios{
        background-color: white;
        width: 100%;
        height: 1375px;
    }


    .mis-servicios-cosas {
        width: 100%;
        height: 1375px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        align-content: center;
        vertical-align: middle;
    }

    .mis-servicios-titulo {
        font-family: Open Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 44px;
        text-align: center;
        letter-spacing: -2px;
        color: #2C2C2C;
    }

    .cosas{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        align-content: center;
        margin:60px;
    }


    .mis-servicios-logo-pc{
        width: 30%;
        height: 30%;
        align-items: center;
        align-content: center;
        margin:5px;
    }

    .mis-servicios-titulo-secundario{
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 28px;
        text-align: center;
        color: #2C2C2C;
        margin:5px;
    }

    .mis-servicios-parrafos{
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        color: #2C2C2C;
        margin:5px;
    }

    .formulario{
        background-color: black;
        width: 100%;
        height: 660px;
    }

    .formulario-cosas {
        width: 100%;
        height: 95%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        align-content: center;
    }

    .escribime-titulo{
        font-family: Open Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 44px;
        text-align: center;
        letter-spacing: -2px;
        
        /* blanco */
        
        color: #FAFAFA;
        
    }

    .escribime-label{
        width: 100%;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 15px;
        color: #FAFAFA;
        padding-bottom: 5px;
        margin-top: 10px;
    }

    .imput-text-nombre-email {
        width: 335px;
        height: 45px;
        background: #FFFFFF;
    }

    .imput-text-texto {
        width: 335px;
        height: 113px;
        background: #FFFFFF;
    }

    .boton {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 335px;
        height: 45px;
        background: #FFD953;
        border-radius: 4px;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        color: #141414;
        text-align: center;
        margin-top: 10px;
        
    }


    .pie{
        background-color: #DBDBDB;
        width: 100%;
        height: 493px;
    }

    .pie-cosas {

        height: 100%;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        color: #2C2C2C;
        margin: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .redes-sociales-conjunto {
        width: 375px;
        height: 80px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
    }

    .redes-sociales {
        width: 375px;
        height: 80px;
        display: flex;
        justify-content: start;
        align-items: center;
        align-content: center;
        
    }

    .redes-sociales-imagen{
        height: 29px;
        align-items: center;
        align-content: center;
        margin: 5px;
        
    }

    .redes-sociales{
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        color: #2C2C2C;
        /* margin: 5px; */
    }
}

/* PC */

@media (min-width: 900px) {

    html {
        margin: 0px;
        border: 0px;
        padding: 0px;
        width: 100%;
        height: 1440px;
    }


    .cuerpo {
        margin: 0px;
        border: 0px;
        padding: 0px;
        width: 100%;
        height: 1440px;
    }

    .intro{
        width: 100%;
        height: 616px;
        background-color: rgb(255, 255, 255);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        align-content: center;
    }
    
    .intro-cabecera{
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 80px;
    }
    
        .logo-personal {
            height: 100%;
            align-items: center;
            align-content: center;
        }
        .rayitasmenu{
            display: none;
        }

        .rayita{
            display:none;
            
        }

        .intro-menu{
            display: flex;
            justify-content: flex-end;
            gap: 30px;
            margin:20px;
            font-family: Roboto;
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 28px;

            color: #000000;

        }
    
        .intro-cuerpo{
            display: flex;
            justify-content: space-between;
            width: 100%;
            height: 536px;
        }
        
        .intro-bienvenidos{
            display:flex;
            flex-direction: column;
            justify-content:center;
            margin: 20px;
            font-size: 48px;
            font-family: 'Open Sans', sans-serif;
            padding-bottom: 280px;
        }
        
        .intro-facha-image {
            display: flex;
            height: 100%;
        }
    
    .soy-marce{
        background-color: black;
        width: 100%;
        height: 538px;
        display: grid;
        grid-template-columns: 33% 66%;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    
    .soy-marce-texto{
        order:2;

        justify-self: start;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin:100px;
    }

    .titulo-soy-marce {
        font-family: Open Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 44px;
        letter-spacing: -2px;
        color: #FAFAFA;
        margin:20px;
    }
    
    .algo-interesante {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 28px;
        color: #FAFAFA;
        margin:20px;
    }

    .logo-tilde {
        order:1;
        justify-self: end;
        width: 211px;
        height: 211px;
        color: #FFD953;
        background-color: #4CAF50;
        font-size: 200px;
        display: flex;
        flex-direction: row-reverse;
        align-self:center;
        vertical-align: middle;
        justify-content: center;
        align-items: center;
        border: yellow 5px solid;
        border-radius: 10px;
    }
    
    .mis-servicios{
        background-color: white;
        width: 100%;
        height: 604px;
    }

    .mis-servicios-cosas {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        align-content: center;
        vertical-align: middle;
    }

    .mis-servicios-titulo {
        font-family: Open Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 44px;
        text-align: center;
        letter-spacing: -2px;
        color: #2C2C2C;
    }

    .mis-servicios-cosas{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .mis-servicios-servicios{
        display: grid;
        grid-template-columns: 33% 33% 33%;
        justify-content: space-between;
    }

    .cosas{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        margin:100px;
    }


    .mis-servicios-logo-pc{
        width: 35%;
        margin:5px;
    }

    .mis-servicios-titulo-secundario{
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 28px;
        text-align: center;
        color: #2C2C2C;
        margin:5px;
    }

    .mis-servicios-parrafos{
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        color: #2C2C2C;
        margin:5px;
        max-width: 250px;
    }
    
        .formulario{
            background-color: black;
            width: 100%;
            height: 660px;
        }
    
        .formulario-cosas {
            width: 100%;
            height: 95%;
            display: grid;
            grid-template-columns: 45% 55%;
            justify-content: space-evenly;
            align-items: center;
            align-content: center;
        }
    
        .escribime-titulo{
            align-self: start;
            justify-self:flex-end;
            vertical-align: top;
            font-family: Open Sans;
            font-style: normal;
            font-weight: bold;
            font-size: 32px;
            line-height: 44px;
            letter-spacing: -2px;
            color: #FAFAFA;
            margin: 20px;
            
        }
        .formulario-datos{
            padding: 30px;
        }
    
        .escribime-label{
            width: 330px;
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 13px;
            line-height: 15px;
            color: #FAFAFA;
            padding-bottom: 5px;
        }
    
        .imput-text-nombre-email {
            width: 335px;
            height: 45px;
            background: #FFFFFF;
            margin-bottom: 20px;
        }
    
        .imput-text-texto {
            width: 335px;
            height: 113px;
            background: #FFFFFF;
        }
    
        .boton {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 335px;
            height: 45px;
            background: #FFD953;
            border-radius: 4px;
            font-family: Roboto;
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            color: #141414;
            text-align: center;
            margin-top: 20px;
        }
    
    
        .pie{
            background-color: #DBDBDB;
            width: 100%;
            height: 346px;
        }
    
        .pie-cosas {
            width: 100%;
            height: 100%;
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 19px;
            color: #2C2C2C;
            display: grid;
            grid-template-columns: 50% 50%;
            align-items: center;
        }

        .pie-logo {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 20%;
            align-items: center;
            margin-left: 60px;
        }
    
        .redes-sociales-conjunto {
            align-self: center;
            display: flex;
            flex-direction: column;
            justify-self:flex-end;
            
        }
    
        .redes-sociales {
            width: 375px;
            height: 80px;
            display: flex;
            justify-content: start;
            align-items: center;
            align-content: center;
            
        }
    
        .redes-sociales-imagen{
            height: 50%;
            align-items: center;
            align-content: center;
            margin: 5px;
            
        }
    
        .redes-sociales{
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 19px;
            color: #2C2C2C;
            /* margin: 5px; */
        }
    }